.image {
  align-content: center;
  padding-right:25px;
  margin:10px
}

.header {
  text-align: left;
  margin-top: 20px;
  color: rgb(15, 241, 241);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-weight: bold;
  text-shadow: black;
}



@media (max-width: 600px) {
    .analyst {
        position: relative;
        align-content: center;
        width: fit-content;
        padding-top: 20px ; 
        padding-bottom: 20px;  } 
    
    .vizualize {
      align-content: center;
        width: fit-content;
        padding-top: 20px ; 
      }
    
    .compare {
        align-content: center;
        width: 1200px;
        padding-right:25px;
        margin:10px
      }
    
    .centertext {
      text-align: center;
    }




}